In [1]:
import pandas
import pandas as pd
import os

In [2]:
# read data 2012
year = 2012
df = pd.read_csv(f'{year}_LimServRestaurant.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_12 = df

year = 2013
df = pd.read_csv(f'{year}_LimServRestaurant.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_13 = df

year = 2014
df = pd.read_csv(f'{year}_LimServRestaurant.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_14 = df

year = 2015
df = pd.read_csv(f'{year}_LimServRestaurant.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_15 = df

year = 2016
df = pd.read_csv(f'{year}_LimServRestaurant.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_16 = df

In [3]:
# Rename columns
df_12 = df_12.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_12 = df_12[["County_State", "Estab"]]

# Rename columns
df_13 = df_13.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_13 = df_13[["County_State", "Estab"]]

# Rename columns
df_14 = df_14.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_14 = df_14[["County_State", "Estab"]]

# Rename columns
df_15 = df_15.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_15 = df_15[["County_State", "Estab"]]

# Rename columns
df_16 = df_16.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_16 = df_16[["County_State", "Estab"]]

In [4]:
df_12_13 = pd.merge(
    df_12, df_13, on="County_State", suffixes=("_12", "_13"))
df_12_13.head()

              County_State Estab_12 Estab_13
0  Autauga County, Alabama       34       34
1  Baldwin County, Alabama      130      133
2  Barbour County, Alabama       21       24
3     Bibb County, Alabama        6        4
4   Blount County, Alabama       22       25

In [6]:
df_14_15 = pd.merge(
    df_14, df_15, on="County_State", suffixes=("_14", "_15"))
df_14_15.head()

              County_State Estab_14 Estab_15
0  Autauga County, Alabama       36       40
1  Baldwin County, Alabama      132      147
2  Barbour County, Alabama       22       21
3     Bibb County, Alabama        5        7
4   Blount County, Alabama       21       22

In [7]:
df_12_13_14_15 = pd.merge(
    df_12_13, df_14_15, on="County_State")
df_12_13_14_15.head()

              County_State Estab_12 Estab_13 Estab_14 Estab_15
0  Autauga County, Alabama       34       34       36       40
1  Baldwin County, Alabama      130      133      132      147
2  Barbour County, Alabama       21       24       22       21
3     Bibb County, Alabama        6        4        5        7
4   Blount County, Alabama       22       25       21       22

In [8]:
# Mege data
fastfood_df = pd.merge(
    df_12_13_14_15, df_16, on="County_State", suffixes=("", "_16"))
fastfood_df.head(20)

                 County_State Estab_12 Estab_13 Estab_14 Estab_15 Estab
0     Autauga County, Alabama       34       34       36       40    44
1     Baldwin County, Alabama      130      133      132      147   156
2     Barbour County, Alabama       21       24       22       21    23
3        Bibb County, Alabama        6        4        5        7     7
4      Blount County, Alabama       22       25       21       22    23
5     Bullock County, Alabama        4        5        3        4     3
6      Butler County, Alabama       18       16       17       17    18
7     Calhoun County, Alabama       92       89      103       96    95
8    Chambers County, Alabama       26       26       26       25    29
9    Cherokee County, Alabama       20       19       15       15    15
10    Chilton County, Alabama       20       21       20       22    22
11    Choctaw County, Alabama        7        5        6        6     6
12     Clarke County, Alabama       23       24       26       25    25
13       Clay County, Alabama        4        4        4        4     4
14   Cleburne County, Alabama        8        6        8        6     5
15     Coffee County, Alabama       32       33       34       39    40
16    Colbert County, Alabama       49       49       52       51    53
17    Conecuh County, Alabama        3        5        7        7     7
18      Coosa County, Alabama        1        1        1        1     1
19  Covington County, Alabama       25       27       24       24    27

In [10]:
# Split County & State
fastfood_df[['County','State']] = fastfood_df.County_State.str.split(",",expand=True,)
fastfood_df.head()

,County_State,Estab_12,Estab_13,Estab_14,Estab_15,Estab,County,State
0,"Autauga County, Alabama",34,34,36,40,44,Autauga County,Alabama
1,"Baldwin County, Alabama",130,133,132,147,156,Baldwin County,Alabama
2,"Barbour County, Alabama",21,24,22,21,23,Barbour County,Alabama
3,"Bibb County, Alabama",6,4,5,7,7,Bibb County,Alabama
4,"Blount County, Alabama",22,25,21,22,23,Blount County,Alabama

In [11]:
# Reorganize columns
fastfood_df = fastfood_df[['County','State', 'Estab_12', 'Estab_13', 'Estab_14', 'Estab_15', 'Estab']]
fastfood_df.head()

           County     State Estab_12 Estab_13 Estab_14 Estab_15 Estab
0  Autauga County   Alabama       34       34       36       40    44
1  Baldwin County   Alabama      130      133      132      147   156
2  Barbour County   Alabama       21       24       22       21    23
3     Bibb County   Alabama        6        4        5        7     7
4   Blount County   Alabama       22       25       21       22    23

In [13]:
fastfood_df.to_csv("Fastfood_Output/FastfoodData.csv", index=False, header=True)