In [1]:
import pandas
import pandas as pd
import os

In [3]:
# read data 2012
year = 2012
df = pd.read_csv(f'{year}_NAICS_452990.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_12 = df

year = 2013
df = pd.read_csv(f'{year}_NAICS_452990.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_13 = df

year = 2014
df = pd.read_csv(f'{year}_NAICS_452990.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_14 = df

year = 2015
df = pd.read_csv(f'{year}_NAICS_452990.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_15 = df

year = 2016
df = pd.read_csv(f'{year}_NAICS_452990.csv', encoding='latin-1')
df = df.drop(df.index[0]) # CSV contains two headers. Drop second header.
df_16 = df

In [5]:
# Rename columns
df_12 = df_12.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_12 = df_12[["County_State", "Estab"]]

# Rename columns
df_13 = df_13.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_13 = df_13[["County_State", "Estab"]]

# Rename columns
df_14 = df_14.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_14 = df_14[["County_State", "Estab"]]

# Rename columns
df_15 = df_15.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_15 = df_15[["County_State", "Estab"]]

# Rename columns
df_16 = df_16.rename(columns={"GEO.id2": "GeoID", "GEO.display-label": "County_State", "ESTAB": "Estab"})
# Select Columns
df_16 = df_16[["County_State", "Estab"]]

              County_State Estab
1  Autauga County, Alabama     9
2  Baldwin County, Alabama    49
3  Barbour County, Alabama     8
4     Bibb County, Alabama     5
5   Blount County, Alabama    12

In [6]:
df_12_13 = pd.merge(
    df_12, df_13, on="County_State", suffixes=("_12", "_13"))
df_12_13.head()

              County_State Estab_12 Estab_13
0  Autauga County, Alabama        7        6
1  Baldwin County, Alabama       41       43
2  Barbour County, Alabama        8        7
3     Bibb County, Alabama        4        4
4   Blount County, Alabama       11       11

In [7]:
df_14_15 = pd.merge(
    df_14, df_15, on="County_State", suffixes=("_14", "_15"))
df_14_15.head()

              County_State Estab_14 Estab_15
0  Autauga County, Alabama        9       11
1  Baldwin County, Alabama       49       50
2  Barbour County, Alabama        8        8
3     Bibb County, Alabama        5        5
4   Blount County, Alabama       12       12

In [8]:
df_12_13_14_15 = pd.merge(
    df_12_13, df_14_15, on="County_State")
df_12_13_14_15.head()

              County_State Estab_12 Estab_13 Estab_14 Estab_15
0  Autauga County, Alabama        7        6        9       11
1  Baldwin County, Alabama       41       43       49       50
2  Barbour County, Alabama        8        7        8        8
3     Bibb County, Alabama        4        4        5        5
4   Blount County, Alabama       11       11       12       12

In [17]:
# Mege data
dollar_df = pd.merge(
    df_12_13_14_15, df_16, on="County_State", suffixes=("", "_16")) # not sure why Suffix not added.
dollar_df.head(20)

                 County_State Estab_12 Estab_13 Estab_14 Estab_15 Estab
0     Autauga County, Alabama        7        6        9       11    11
1     Baldwin County, Alabama       41       43       49       50    52
2     Barbour County, Alabama        8        7        8        8     8
3        Bibb County, Alabama        4        4        5        5     5
4      Blount County, Alabama       11       11       12       12    12
5     Bullock County, Alabama        4        4        4        4     4
6      Butler County, Alabama        8        8        9        9    10
7     Calhoun County, Alabama       32       31       32       34    36
8    Chambers County, Alabama        9        9       10       10    10
9    Cherokee County, Alabama       10       10        9        9    10
10    Chilton County, Alabama       11       11       11        9    10
11    Choctaw County, Alabama        5        5        4        4     5
12     Clarke County, Alabama       15       15       15       14    14
13       Clay County, Alabama        5        5        5        5     5
14   Cleburne County, Alabama        4        4        4        4     4
15     Coffee County, Alabama       13       13       13       13    16
16    Colbert County, Alabama       14       15       15       16    16
17    Conecuh County, Alabama        4        4        4        4     4
18      Coosa County, Alabama        3        3        3        3     3
19  Covington County, Alabama       14       14       14       13    14

In [11]:
# Split County & State
dollar_df[['County','State']] = dollar_df.County_State.str.split(",",expand=True,)
dollar_df.head()

,County_State,Estab_12,Estab_13,Estab_14,Estab_15,Estab,County,State
0,"Autauga County, Alabama",7,6,9,11,11,Autauga County,Alabama
1,"Baldwin County, Alabama",41,43,49,50,52,Baldwin County,Alabama
2,"Barbour County, Alabama",8,7,8,8,8,Barbour County,Alabama
3,"Bibb County, Alabama",4,4,5,5,5,Bibb County,Alabama
4,"Blount County, Alabama",11,11,12,12,12,Blount County,Alabama

In [15]:
dollar_df = dollar_df[['County','State', 'Estab_12', 'Estab_13', 'Estab_14', 'Estab_15', 'Estab']]
dollar_df.head()

           County     State Estab_12 Estab_13 Estab_14 Estab_15 Estab
0  Autauga County   Alabama        7        6        9       11    11
1  Baldwin County   Alabama       41       43       49       50    52
2  Barbour County   Alabama        8        7        8        8     8
3     Bibb County   Alabama        4        4        5        5     5
4   Blount County   Alabama       11       11       12       12    12

In [14]:
dollar_df.to_csv("Dollar_Output/DollarProxyData.csv", index=False, header=True)
# Mannually go into CSV and change 'Estab' to 'Estab_16'